@charset "utf-8";
@use "packages/global";
@use "packages/layouts";
@use "packages/elements";
@use "packages/components";

// @use "packages/utility";

body {
  background-color: pink;
}

.bg {
  width: 300px;
  height: 300px;
  background-image: url("/assets/images/background.png");
  background-size: contain;
}
